{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>My Account</h2>
  <div id="my-leagues">
    <h3>My Leagues</h3>
    {% if leagues %}
    {% regroup leagues by sportId as lg_list %}
      <ul>
        {% for lg in lg_list %}
          <li>{{ lg.grouper.displayName }}
            <ul>
              {% for lg2 in lg.list %}
                {% with lg.grouper.sportName|add:":leaguehome" as urltarget %}
                  <li><a href="{% url urltarget lg2.id %}">{{ lg2.leagueName }}</a> (created by {{ lg2.creator.get_full_name }})</li>
                {% endwith %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You are not part of any leagues at this time. To create a league, use the top navigation bar to select the sport you wish to create a league for, or search for an already created league to join.</p>
    {% endif %}
  </div>
  <br />
  <div id="account-info">
    <h3>My Account Info</h3>
    <ul>
      <li>Name: {{ user.get_full_name }}</li>
      <li>Username: {{ user.username }}</li>
      <li><a href ='{% url 'accounts:password_reset' %}' class='center'>Change Password</a></li>
    </ul>
  </div>
</div>
{% endblock %}
