{% extends "base.html" %}

{% block content %}

<div class="container">
	<h2>My Picks</h2>
	{% if allpicks %}
		<table class="table">
			<tr>
				<th>Game</th>
				<th>Your Pick</th>
				<th>Pick Date</th>
			</tr>
			{% for item in allpicks|dictsort:"game.kickoff_time" %}
			<tr>
				<td>{{ item.game }}</td>
				<td>{{ item.pick }}</td>
				<td>{{ item.pick_date }}</td>
			</tr>
			{% if 'BCS' in item.game.game %}
			<tr>
				<td>{{ item.game }} Tiebreaker</td>
				<td>{{ item.tiebreak }} total points</td>
				<td>{{ item.pick_date }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	{% else %}
		<p>You have not made any picks yet!<p>
		{% for x in posted %}
		<li>{{ x }}</li>
		{% endfor %}
	{% endif %}
	<a href="{% url 'picks:makepicks' %}">Make or change your picks</a>
</div>

{% endblock %}
