{% extends "base.html" %}

{% block css %}
	td.winner { background-color: yellow !important }
{% endblock %}

{% block content %}
<div class="container">
	<h2>Picks Grid</h2>

	{% regroup allpicks2 by game as game_list %}
	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>Game</th>
				{% for u in users %}
				<th>{{ u.first_name }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for g in game_list|dictsort:"grouper.kickoff_time" %}
			<tr>
				<th title="{{ g.grouper.team_set.first }} vs. {{ g.grouper.team_set.last }}: {{ g.grouper.kickoff_time }}" data-container="body" data-toggle="tooltip" data-placement="bottom"><span>{{ g.grouper }}</span></th>
				{% for item in g.list %}
					{% if item.pick.win %}
						<td title="{{ item.pick }}" class="winner success" data-container="body" data-toggle="tooltip" data-placement="bottom">{{ item.pick.display_name }}</td>
					{% else %}
						<td title="{{ item.pick }}" class="loser" data-container="body" data-toggle="tooltip" data-placement="bottom">{{ item.pick.display_name }}</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% if 'BCS' in g.grouper.game %}
			<tr>
				<th><span>BCS Tiebreaker</span></th>
				{% for item in g.list %}
				<td>{{ item.tiebreak }}</td>
				{% endfor %}
			</tr>
			{% endif %}
		{% endfor %}
			<tr>
				<th>Points:</th>
				{% for x in pointlist %}
				<th>{{ x.points }}</th>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
