{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id="homejumbo" class="jumbotron">
		<h2>Welcome to Playoff Champions!</h2>
	</div>
	<div class="container">
		<p>Here at Playoff Champions, we strive to be your go to site for social sports pools. We are not a gambling site, we are a pool management site. Create a league, invite friends or coworkers, and use our site to easily track your progress online and on your mobile device. We'll do the hard work and let you enjoy the games (and yes, the occasional bet).</p>
	</div>
</div>
{% endblock %}
